include LICENSE
include *.rst
include *.sh
include *.txt
include requirements*.txt
include .gitignore
include Makefile
exclude tox.ini
graft dddp/test/meteor_todos
graft dddp/test/build
prune docs
exclude .travis.yml.sh
exclude .travis.yml
