include LICENSE
include *.rst
include *.sh
include *.txt
include .gitignore
include .coveragerc
include Makefile
graft docs
prune docs/_build
include tox.ini
graft dddp/test/meteor_todos
prune dddp/test/meteor_todos/.meteor
